<h1>Edit Post</h1>

<%= form_for(@post) do |f| %>
  <% if @post.errors.present? %>
    <p>
      <%= @post.errors.full_messages.join(', ') %>
    </p>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  
  <%= f.submit 'Update Post' , class: "btn btn-outline-primary" %>
<% end %>